-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRoles" AS ENUM ('SUPERUSER', 'ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "MassSystem" AS ENUM ('US', 'Imperial', 'Metric');

-- CreateEnum
CREATE TYPE "MassUnit" AS ENUM ('Oz', 'Lb', 'g', 'Kg');

-- CreateEnum
CREATE TYPE "FlowUnit" AS ENUM ('gpm', 'lpm');

-- CreateEnum
CREATE TYPE "ConcentrationUnit" AS ENUM ('ppm', 'ppb');

-- CreateEnum
CREATE TYPE "TimeUnit" AS ENUM ('min', 'hr', 'day');

-- CreateEnum
CREATE TYPE "PercentUnit" AS ENUM ('percent', 'percentage');

-- CreateEnum
CREATE TYPE "UserVolumePreference" AS ENUM ('L', 'gal', 'bbl');

-- CreateEnum
CREATE TYPE "UserMassPreference" AS ENUM ('g', 'LbOz', 'Lb', 'Oz', 'Kg');

-- CreateEnum
CREATE TYPE "UserPressurePreference" AS ENUM ('PSI', 'kPa', 'bar');

-- CreateEnum
CREATE TYPE "UserEnergyPreference" AS ENUM ('kJ', 'kcal');

-- CreateEnum
CREATE TYPE "UserTemperaturePreference" AS ENUM ('F', 'C');

-- CreateEnum
CREATE TYPE "UserGravityPreference" AS ENUM ('SG', 'Brix', 'Plato', 'nD', 'GCM3');

-- CreateEnum
CREATE TYPE "UserColorPreference" AS ENUM ('L', 'EBC', 'SRM');

-- CreateEnum
CREATE TYPE "StyleCategory" AS ENUM ('beer', 'mead', 'cider');

-- CreateEnum
CREATE TYPE "FermentableType" AS ENUM ('Grain', 'Extract', 'Sugar', 'Adjunct', 'DryExtract', 'Fruit', 'Juice', 'Honey');

-- CreateEnum
CREATE TYPE "YeastForm" AS ENUM ('Liquid', 'Dry');

-- CreateEnum
CREATE TYPE "YeastFlocculation" AS ENUM ('VeryHigh', 'High', 'Medium', 'Low', 'VeryLow');

-- CreateEnum
CREATE TYPE "YeastType" AS ENUM ('Ale', 'Lager', 'Wheat', 'Wine');

-- CreateEnum
CREATE TYPE "HopUsage" AS ENUM ('aroma', 'bittering', 'dual');

-- CreateEnum
CREATE TYPE "OtherIngredientType" AS ENUM ('fining', 'flavor', 'agent', 'spice', 'herbal', 'other');

-- CreateEnum
CREATE TYPE "IngredientUsage" AS ENUM ('Mash', 'Boil', 'Steep', 'Whirlpool', 'DryHop', 'Primary', 'Secondary', 'Bottling', 'Sparge');

-- CreateEnum
CREATE TYPE "MashSpargeWaterCalculations" AS ENUM ('Default', 'BatchSparge', 'NoSparge', 'IgnoreExpansion');

-- CreateEnum
CREATE TYPE "MashStepType" AS ENUM ('temperature', 'infusion', 'decoction');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "username" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" "UserRoles" NOT NULL DEFAULT 'USER',
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserPreferences" (
    "id" SERIAL NOT NULL,
    "userId" TEXT NOT NULL,
    "theme" TEXT NOT NULL DEFAULT 'system',
    "language" TEXT NOT NULL DEFAULT 'en',
    "timezone" TEXT,
    "fontSize" TEXT NOT NULL DEFAULT 'medium',
    "massSystem" "MassSystem" NOT NULL DEFAULT 'US',
    "color" "UserColorPreference" NOT NULL DEFAULT 'L',
    "flow" "FlowUnit" NOT NULL DEFAULT 'gpm',
    "concentration" "ConcentrationUnit" NOT NULL DEFAULT 'ppm',
    "time" "TimeUnit" NOT NULL DEFAULT 'min',
    "percent" "PercentUnit" NOT NULL DEFAULT 'percent',
    "volume" "UserVolumePreference" NOT NULL DEFAULT 'gal',
    "mass" "UserMassPreference" NOT NULL DEFAULT 'LbOz',
    "hopMass" "UserMassPreference" NOT NULL DEFAULT 'Oz',
    "fermentableMass" "UserMassPreference" NOT NULL DEFAULT 'Lb',
    "gravity" "UserGravityPreference" NOT NULL DEFAULT 'SG',
    "temperature" "UserTemperaturePreference" NOT NULL DEFAULT 'F',
    "pressure" "UserPressurePreference" NOT NULL DEFAULT 'PSI',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserPreferences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("provider","providerAccountId")
);

-- CreateTable
CREATE TABLE "Session" (
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VerificationToken_pkey" PRIMARY KEY ("identifier","token")
);

-- CreateTable
CREATE TABLE "Authenticator" (
    "credentialID" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "credentialPublicKey" TEXT NOT NULL,
    "counter" INTEGER NOT NULL,
    "credentialDeviceType" TEXT NOT NULL,
    "credentialBackedUp" BOOLEAN NOT NULL,
    "transports" TEXT,

    CONSTRAINT "Authenticator_pkey" PRIMARY KEY ("userId","credentialID")
);

-- CreateTable
CREATE TABLE "Style" (
    "id" SERIAL NOT NULL,
    "userId" TEXT,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" "StyleCategory" NOT NULL,
    "subcategoryId" INTEGER NOT NULL,
    "identifier" TEXT NOT NULL,
    "overall" TEXT,
    "aroma" TEXT,
    "appearance" TEXT,
    "flavor" TEXT,
    "mouthfeel" TEXT,
    "comments" TEXT,
    "history" TEXT,
    "ingredients" TEXT,
    "comparison" TEXT,
    "examples" TEXT,
    "ibuLow" DOUBLE PRECISION,
    "ibuHigh" DOUBLE PRECISION,
    "ibuFlex" BOOLEAN NOT NULL DEFAULT false,
    "ogLow" DOUBLE PRECISION,
    "ogHigh" DOUBLE PRECISION,
    "ogFlex" BOOLEAN NOT NULL DEFAULT false,
    "fgLow" DOUBLE PRECISION,
    "fgHigh" DOUBLE PRECISION,
    "fgFlex" BOOLEAN NOT NULL DEFAULT false,
    "srmLow" DOUBLE PRECISION,
    "srmHigh" DOUBLE PRECISION,
    "srmFlex" BOOLEAN NOT NULL DEFAULT false,
    "abvLow" DOUBLE PRECISION,
    "abvHigh" DOUBLE PRECISION,
    "abvFlex" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Style_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WaterProfile" (
    "id" SERIAL NOT NULL,
    "userId" TEXT,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "calcium" INTEGER DEFAULT 0,
    "magnesium" INTEGER DEFAULT 0,
    "sodium" INTEGER DEFAULT 0,
    "chloride" INTEGER DEFAULT 0,
    "sulfate" INTEGER DEFAULT 0,
    "bicarbonate" INTEGER DEFAULT 0,
    "description" TEXT,
    "forkedFrom" INTEGER,

    CONSTRAINT "WaterProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Fermentable" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "notes" TEXT,
    "manufacturer" TEXT,
    "country" TEXT,
    "price" DOUBLE PRECISION,
    "type" "FermentableType" DEFAULT 'Grain',
    "power" DOUBLE PRECISION,
    "maxUsage" DOUBLE PRECISION,
    "color" DOUBLE PRECISION,
    "potential" DOUBLE PRECISION,
    "moisture" DOUBLE PRECISION,
    "protein" DOUBLE PRECISION,
    "coarseFineDiff" DOUBLE PRECISION,
    "extract" DOUBLE PRECISION,
    "friability" DOUBLE PRECISION,
    "yield" DOUBLE PRECISION,
    "stability" TEXT,
    "userId" TEXT,
    "usage" "IngredientUsage" DEFAULT 'Mash',

    CONSTRAINT "Fermentable_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Yeast" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "usage" TEXT,
    "description" TEXT,
    "notes" TEXT,
    "manufacturer" TEXT,
    "type" "YeastType",
    "form" "YeastForm",
    "price" DOUBLE PRECISION,
    "tempLow" DOUBLE PRECISION,
    "tempHigh" DOUBLE PRECISION,
    "flocculation" "YeastFlocculation",
    "tolerance" DOUBLE PRECISION,
    "attenuation" DOUBLE PRECISION,
    "attenuationLow" DOUBLE PRECISION,
    "attenuationHigh" DOUBLE PRECISION,
    "cellsPerUnit" DOUBLE PRECISION,
    "productId" TEXT,
    "userId" TEXT,
    "diastatic" BOOLEAN DEFAULT false,

    CONSTRAINT "Yeast_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Hop" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "characteristics" TEXT,
    "country" TEXT,
    "usage" "HopUsage",
    "alpha" DOUBLE PRECISION,
    "alphaLow" DOUBLE PRECISION,
    "alphaHigh" DOUBLE PRECISION,
    "beta" DOUBLE PRECISION,
    "betaLow" DOUBLE PRECISION,
    "betaHigh" DOUBLE PRECISION,
    "caryophyllene" DOUBLE PRECISION,
    "caryophylleneLow" DOUBLE PRECISION,
    "caryophylleneHigh" DOUBLE PRECISION,
    "cohumulone" DOUBLE PRECISION,
    "cohumuloneLow" DOUBLE PRECISION,
    "cohumuloneHigh" DOUBLE PRECISION,
    "farnesene" DOUBLE PRECISION,
    "farneseneLow" DOUBLE PRECISION,
    "farneseneHigh" DOUBLE PRECISION,
    "humulene" DOUBLE PRECISION,
    "humuleneLow" DOUBLE PRECISION,
    "humuleneHigh" DOUBLE PRECISION,
    "myrcene" DOUBLE PRECISION,
    "myrceneLow" DOUBLE PRECISION,
    "myrceneHigh" DOUBLE PRECISION,
    "totalOil" DOUBLE PRECISION,
    "totalOilLow" DOUBLE PRECISION,
    "totalOilHigh" DOUBLE PRECISION,
    "geraniol" DOUBLE PRECISION,
    "geraniolLow" DOUBLE PRECISION,
    "geraniolHigh" DOUBLE PRECISION,
    "other" DOUBLE PRECISION,
    "otherLow" DOUBLE PRECISION,
    "otherHigh" DOUBLE PRECISION,
    "linalool" DOUBLE PRECISION,
    "linaloolLow" DOUBLE PRECISION,
    "linaloolHigh" DOUBLE PRECISION,
    "bPinene" DOUBLE PRECISION,
    "bPineneLow" DOUBLE PRECISION,
    "bPineneHigh" DOUBLE PRECISION,
    "purpose" TEXT,
    "flavor" TEXT,
    "notes" TEXT,
    "substitutesString" TEXT[],
    "styles" TEXT[],
    "userId" TEXT,

    CONSTRAINT "Hop_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RecipeOtherIngredient" (
    "id" SERIAL NOT NULL,
    "recipeId" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "amountType" "MassUnit" NOT NULL,
    "duration" DOUBLE PRECISION NOT NULL,
    "durationType" "TimeUnit" NOT NULL,
    "usage" "IngredientUsage" NOT NULL,
    "otherIngredientId" TEXT NOT NULL,

    CONSTRAINT "RecipeOtherIngredient_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OtherIngredient" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "type" "OtherIngredientType" NOT NULL,
    "description" TEXT,
    "userId" TEXT,

    CONSTRAINT "OtherIngredient_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EquipmentProfile" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT,
    "batchVolume" DOUBLE PRECISION,
    "boilVolume" DOUBLE PRECISION,
    "preboilVolume" DOUBLE PRECISION,
    "boilTime" DOUBLE PRECISION,
    "brewEfficiency" DOUBLE PRECISION,
    "mashEfficiency" DOUBLE PRECISION,
    "boilOffRate" DOUBLE PRECISION,
    "trubLoss" DOUBLE PRECISION DEFAULT 0,
    "mashLoss" DOUBLE PRECISION DEFAULT 0,
    "fermenterLoss" DOUBLE PRECISION DEFAULT 0,
    "grainAbsorption" DOUBLE PRECISION DEFAULT 0.5,
    "waterGrainRatio" DOUBLE PRECISION DEFAULT 1.5,
    "mashTunVolume" DOUBLE PRECISION DEFAULT 100,
    "mashTunWeight" DOUBLE PRECISION DEFAULT 100,
    "mashTunSpecificHeat" DOUBLE PRECISION DEFAULT 0.12,
    "mashTunDeadSpace" DOUBLE PRECISION DEFAULT 0,
    "waterCalculationMethod" "MashSpargeWaterCalculations" NOT NULL DEFAULT 'Default',
    "boilExpansion" DOUBLE PRECISION DEFAULT 0.04,
    "fermenterTopOff" DOUBLE PRECISION DEFAULT 0,
    "forkedFrom" TEXT,
    "userId" TEXT,

    CONSTRAINT "EquipmentProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MashProfile" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "spargeTemp" DOUBLE PRECISION NOT NULL DEFAULT 168,
    "grainTemp" DOUBLE PRECISION NOT NULL DEFAULT 72,
    "grainWeightBasis" DOUBLE PRECISION DEFAULT 10,
    "mashPh" DOUBLE PRECISION DEFAULT 5.4,
    "mashTunTemp" DOUBLE PRECISION NOT NULL DEFAULT 72,
    "description" TEXT,
    "userId" TEXT,
    "forkedFrom" TEXT,

    CONSTRAINT "MashProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MashStep" (
    "id" SERIAL NOT NULL,
    "type" "MashStepType" DEFAULT 'temperature',
    "name" TEXT,
    "temperature" INTEGER NOT NULL,
    "time" INTEGER NOT NULL,
    "rampTime" INTEGER DEFAULT 0,
    "index" INTEGER NOT NULL,
    "mashProfileId" TEXT NOT NULL,

    CONSTRAINT "MashStep_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "UserPreferences_userId_key" ON "UserPreferences"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "Authenticator_credentialID_key" ON "Authenticator"("credentialID");

-- CreateIndex
CREATE UNIQUE INDEX "Style_slug_key" ON "Style"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Style_identifier_key" ON "Style"("identifier");

-- CreateIndex
CREATE UNIQUE INDEX "WaterProfile_slug_key" ON "WaterProfile"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Fermentable_id_key" ON "Fermentable"("id");

-- CreateIndex
CREATE UNIQUE INDEX "Fermentable_slug_key" ON "Fermentable"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Yeast_id_key" ON "Yeast"("id");

-- CreateIndex
CREATE UNIQUE INDEX "Yeast_slug_key" ON "Yeast"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Hop_slug_key" ON "Hop"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "OtherIngredient_slug_key" ON "OtherIngredient"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "EquipmentProfile_slug_key" ON "EquipmentProfile"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "MashProfile_slug_key" ON "MashProfile"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "MashStep_mashProfileId_index_key" ON "MashStep"("mashProfileId", "index");

-- AddForeignKey
ALTER TABLE "UserPreferences" ADD CONSTRAINT "UserPreferences_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Authenticator" ADD CONSTRAINT "Authenticator_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterProfile" ADD CONSTRAINT "WaterProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WaterProfile" ADD CONSTRAINT "WaterProfile_forkedFrom_fkey" FOREIGN KEY ("forkedFrom") REFERENCES "WaterProfile"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Fermentable" ADD CONSTRAINT "Fermentable_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Yeast" ADD CONSTRAINT "Yeast_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Hop" ADD CONSTRAINT "Hop_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RecipeOtherIngredient" ADD CONSTRAINT "RecipeOtherIngredient_otherIngredientId_fkey" FOREIGN KEY ("otherIngredientId") REFERENCES "OtherIngredient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OtherIngredient" ADD CONSTRAINT "OtherIngredient_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentProfile" ADD CONSTRAINT "EquipmentProfile_forkedFrom_fkey" FOREIGN KEY ("forkedFrom") REFERENCES "EquipmentProfile"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EquipmentProfile" ADD CONSTRAINT "EquipmentProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MashProfile" ADD CONSTRAINT "MashProfile_forkedFrom_fkey" FOREIGN KEY ("forkedFrom") REFERENCES "MashProfile"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MashProfile" ADD CONSTRAINT "MashProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MashStep" ADD CONSTRAINT "MashStep_mashProfileId_fkey" FOREIGN KEY ("mashProfileId") REFERENCES "MashProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

